  <div class="alert alert-{{alerta.tipo}}" role="alert" *ngIf="alerta.mensagem">
    {{alerta.mensagem}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="clearMessage()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


<div class="card border-secondary mb-3">
	<div class="card-header">Incluir Usuarios</div>
	<div class="card-body text-secondary">
		<form #userForm="ngForm" (ngSubmit)="onSubmit()" >
			<div class="row">
				<div class="col">
					<label>Nome:</label>
					<input type="hidden" class="form-control" name="id" [(ngModel)]="user.id">
					<input type="text" class="form-control" name="usuario" [(ngModel)]="user.usuario">
				</div>
				<div class="col">
					<label>Email:</label>
					<input type="text" class="form-control" name="email" [(ngModel)]="user.email">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label>Cpf:</label>
					<input type="text" class="form-control" name="cpf" [(ngModel)]="user.cpf">
				</div>
				<div class="col">
					<label>Telefone:</label>
					<input type="text" class="form-control" name="telefone" [(ngModel)]="user.telefone">
				</div>
				<div class="col">
					<label>Perfil:</label>
		
					<select class="form-control" name="perfil_acesso" [(ngModel)]="user.perfil_acesso">
					  <option *ngFor="let p of perfilUsuarioExterno" [ngValue]="p">{{p.name}}</option>
					</select>
				</div>
				<div class="col">
					<label>Funcao:</label>

					<select class="form-control" name="funcao"  [(ngModel)]="user.funcao">
					  <option *ngFor="let p of funcaoUsuarioExterno" [ngValue]="p">{{p.name}}</option>
					</select>
				</div>
			</div>
		
		 <br />
		<p align="right">
			<button type="submit" class="btn  btn-secondary" >Salvar</button>
		</p>
		</form>
		<p align="left">
		    <a routerLink="/user"><button class="btn btn-secondary pull-right " >Voltar</button></a>
		</p>
	</div>
</div>